:root{

--background:#08111F;

--surface:#111B2B;

--card:#162235;

--primary:#C8A96A;

--primary-hover:#B89452;

--text:#FFFFFF;

--text-light:#B6C2D2;

--border:rgba(255,255,255,.08);

--container:1320px;

--radius:18px;

--transition:.35s ease;

--shadow:0 20px 60px rgba(0,0,0,.45);

}
*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}
body {
  background: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  letter-spacing: .5px;
}
.container{

width:min(var(--container),calc(100% - 60px));

margin:0 auto;

}